<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    backupGlobals="false"
    colors="true"
    bootstrap="vendor/autoload.php"
>
    <php>
        <env name="APP_ENV" value="test"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit/Array</directory>
            <directory>tests/unit/Combinatorics</directory>
            <directory>tests/unit/Eval</directory>
            <directory>tests/unit/FEN</directory>
            <directory>tests/unit/Media</directory>
            <directory>tests/unit/ML</directory>
            <directory>tests/unit/PGN</directory>
            <directory>tests/unit/Piece</directory>
            <directory>tests/unit/Randomizer</directory>
            <directory>tests/unit/UciEngine</directory>
            <directory>tests/unit/Variant</directory>
            <file>tests/unit/ArrayOfBoardsTest.php</file>
            <file>tests/unit/GameTest.php</file>
            <file>tests/unit/GrandmasterTest.php</file>
            <file>tests/unit/HeuristicsByFenStringTest.php</file>
            <file>tests/unit/HeuristicsTest.php</file>
            <file>tests/unit/MovetextTest.php</file>
            <file>tests/unit/PlayerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
